Repository tom-a-c/mermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lockfile, requirements

lint:
  name: lint files
  entry: make lint
  language: system
  stages:
  - commit

lockfile:
  name: update lockfile
  entry: .hooks/poetry_lock.sh
  language: script
  stages:
  - commit

requirements:
  name: generate requirements
  entry: .hooks/update_requirements.sh
  language: script
  stages:
  - commit

Delete .empty
  img/.empty
Due: none

Delete blank_example.yaml
  examples/blank_example.yaml
Due: none

Configured circleci config
  .circleci/config.yml
  README.md
Due: none

Updated docker images used in circleci config
  .circleci/config.yml
Due: none

Added checkout stage to circleciconfig
  .circleci/config.yml
Due: none

updated makefile propector settings
  Makefile
Due: none

Added :construction: emoji to readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Makefile update (#13)
  .circleci/config.yml
  .gitignore
  .hooks/poetry_lock.sh
  .hooks/update_requirements.sh
  .pre-commit-config.yaml
  Makefile
  README.md
  img/.empty
  mermaider/__main__.py
  mypy.ini
  poetry.lock
  pyproject.toml
  requirements.txt
  scripts/clean.sh
  tests/test_example.py
Due: lint, lockfile, requirements

Create codecov.yml
  codecov.yml
Due: none

:green_heart: Fix coverage reporting
  .circleci/config.yml
  .github/workflows/codecov-report.yaml
  Makefile
  coverage/junit.xml
  coverage/reports/report.xml
  poetry.lock
  poetry.toml
  pyproject.toml
Due: lockfile, requirements

:green_heart: Fix coverage reporting
  tests/test_example.py
Due: lint

:green_heart: Fix coverage reporting
  Makefile
Due: none

:green_heart: Fix coverage reporting
  .circleci/config.yml
Due: none

:green_heart: Fix coverage reporting
  Makefile
  mermaider/file.py
Due: lint

:green_heart: Update CI build
  .circleci/config.yml
  .github/workflows/codecov-report.yaml
  Makefile
  README.md
  coverage/junit.xml
  coverage/reports/report.xml
  mermaider/file.py
  poetry.lock
  poetry.toml
  pyproject.toml
Due: lint, lockfile, requirements

Rename codecov.yml to codecov.yaml
  codecov.yaml
Due: none

gh-17: :wrench: Add coverage to `.gitignore`
  .gitignore
  coverage/junit.xml
  coverage/reports/report.xml
Due: none

gh-17: :memo: Add developer xp section to issue template
  .github/ISSUE_TEMPLATE.md
Due: none

gh-17: :memo: Improved grammer + spelling
  .github/ISSUE_TEMPLATE.md
Due: none

gh-17: :memo: Added update tests option
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[gh-17] Update templates with more options + fix typos (#22)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  coverage/junit.xml
  coverage/reports/report.xml
Due: none

Path conditions:
  lint: any of: \.py$
  lockfile: any of: ^pyproject\.toml$
  requirements: any of: ^pyproject\.toml$
